@model IEnumerable<LearnAspMVC.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="container">
    <h1 class="mb-5">List of categories will be displayed here</h1>
    <div class="alert alert-primary d-flex justify-content-between align-items-center" role="alert">
        <strong>
            @Model.Count() Categories
        </strong>
        <a class="btn btn-primary text-uppercase" asp-controller="category" asp-action="new">
            Create New
        </a>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.DisplayOrder</p>
                        <a class="card-link" asp-controller="category" asp-action="show"  asp-route-Id="@item.Id">Edit</a>
                        <a class="card-link text-danger" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>